body{
    background: #181818;
    color: #0ff;
    text-align: center;
}

input {
    margin-right: -48px;
}

nav a {
    color: #0ff;
    margin: 10px;
}

nav a:hover {
    color: #0cc;
}

#Canvas {
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 0px;
    max-width: 81.9%;
    margin-left: 9%;
    border: solid 1px;
}

#sendFile {
    margin-left: center;
}

#uploadFile {
    margin-right: -175px;
}

#normalText {
    margin-right: 73px;
}

#heightText {
    margin-right: 40px;
}

#slopeText {
    margin-right: 46px;
}

button {
    background-color:#ddd;
    width: 60px;
}

button:hover {
    background-color:#aaa;
}






